.app-section {
  height: 100%;
  background: #181818;
  margin: 0 auto;
  // max-width: 1600px;
  padding: 25px 5vw;
  position: relative;

  padding-top: 0;
  overflow: hidden;

  

  // .info-container:after {
  //   background: linear-gradient(90deg,#181818 10%,hsla(0,0%,9%,.98) 20%,hsla(0,0%,9%,.97) 25%,hsla(0,0%,9%,.95) 35%,hsla(0,0%,9%,.94) 40%,hsla(0,0%,9%,.92) 45%,hsla(0,0%,9%,.9) 50%,hsla(0,0%,9%,.87) 55%,hsla(0,0%,9%,.82) 60%,hsla(0,0%,9%,.75) 65%,hsla(0,0%,9%,.63) 70%,hsla(0,0%,9%,.45) 75%,hsla(0,0%,9%,.27) 80%,hsla(0,0%,9%,.15) 85%,hsla(0,0%,9%,.08) 90%,hsla(0,0%,9%,.03) 95%,hsla(0,0%,9%,0));
  //   bottom: 0;
  //   content: "";
  //   left: 0;
  //   position: absolute;
  //   right: -200px;
  //   top: 0;
  //   z-index: -1;
  // }

  .wrap-content {
    flex: 1 0 auto;
    height: 65%;
    position: relative;
    // overflow-x: hidden;
    // overflow-y: hidden;

    filter: saturate(0.5);
    
    .back-image {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: absolute;
      right: -6%;
      width: 103%;
      background-image: url("/assets/background.jpg");
    }

    .back-image:after {
      background: linear-gradient(0deg,#181818 0,hsla(0,0%,9%,.987) 1.62%,hsla(0,0%,9%,.951) 3.1%,hsla(0,0%,9%,.896) 4.5%,hsla(0,0%,9%,.825) 5.8%,hsla(0,0%,9%,.741) 7.06%,hsla(0,0%,9%,.648) 8.24%,hsla(0,0%,9%,.55) 9.42%,hsla(0,0%,9%,.45) 10.58%,hsla(0,0%,9%,.352) 11.76%,hsla(0,0%,9%,.259) 12.94%,hsla(0,0%,9%,.175) 14.2%,hsla(0,0%,9%,.104) 15.5%,hsla(0,0%,9%,.049) 16.9%,hsla(0,0%,9%,.013) 18.38%,hsla(0,0%,9%,0) 20%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .app-content {
      // display: flex;
      // flex-direction: row;
      // margin: 0 auto;
      // position: relative;
      width: 100%;
      height: 100%;
  
      // @media (min-width: 220px) {
      //   .info-container {
      //     min-width: 200px;
      //   }
      // }
  
      // @media (min-width: 320px) {
      //   .info-container {
      //     min-width: 300px;
      //   }
      // }
  
      // @media (min-width: 600px) {
      //   .info-container {
      //     min-width: 500px;
      //   }
      // }
  
      // @media (min-width: 1000px) {
      //   .info-container {
      //     min-width: 600px;
      //   }
      // }
  
      // .info-container {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // max-width: 800px;
        // flex: 1 1 50%;
        
        // padding: 16px 32px 64px 0;
        // position: relative;
        // width: 35%;
        // z-index: 2;
      // }
    }
  }

}


