.slider-container {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  margin-bottom: 104px;

  ::ng-deep .slick-slider {
    // position: relative;
    // display: block;

    margin-bottom: 16px;

    z-index: 6;

    .slick-prev, .slick-next {
      z-index: 10;
      height: 100%;
      background-color: rgba(18,18,18,0.5);
      width: 5vw;
    }

    .slick-prev {
      left: -5vw;
      // text-align: right;
    }

    .slick-next {
      right: -5vw;
      // text-align: left;
    }

    ::ng-deep .slick-list {
      // transform: translate3d(0px, 0px, 0px);
    
      // position: relative;
      // display: block;
  
      margin: 0px -10px;
      // padding: 0px;
      
      overflow: visible;

      ::ng-deep .slick-track {
        // width: 4872px;
        // opacity: 1;
        // transform: translate3d(0px, 0px, 0px);

        // position: relative;
        // top: 0px;
        // left: 0px;
        // display: block;

        ::ng-deep .slick-slide {
          outline: none;
          // width: 232px;

          // display: block;

          // height: 100%;
          // min-height: 1px;
          //// display: none;
          // float: left;
          padding: 10px;
          //// opacity: 0.5;
          transition: opacity 300ms ease 0s;

          .asset-wrapper {
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            transition: transform 300ms ease-out 0s;
            
            a.hoverable-card {
              backface-visibility: hidden;
              border-radius: 4px;
              box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
              cursor: pointer;
              display: block;
              position: relative;
              transform: scale(1, 1) translateZ(0px);
              transition-duration: 300ms;
              transition-property: transform, box-shadow;
              transition-timing-function: ease-out;
              -webkit-font-smoothing: subpixel-antialiased;
            }

            a.hoverable-card:hover, a.hoverable-card:focus, a.hoverable-card:focus-within {
              box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
              transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
              transition-duration: 300ms;
              transition-property: transform, box-shadow;
              transition-timing-function: ease-out;
            }

            .hoverable-card:hover::after, .hoverable-card:focus::after, .hoverable-card:focus-within::after {
              border: 4px solid rgba(249, 249, 249, 0.8);
            }

            .hoverable-card::after {
              border-radius: 4px;
              border: 4px solid rgba(255, 255, 255, 0);
              inset: 0px;
              content: "";
              position: absolute;
              transition: border 300ms ease-out 0s;
            }

            a.basic-card {
              background-color: transparent;

              .image-container {
                background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
                border-radius: 4px;
                padding-top: 56.25%;

                overflow: hidden;
                position: relative;
                width: 100%;

                img {
                  inset: 0px;
                  display: block;
                  height: 100%;
                  object-fit: cover;
                  object-position: 0px -20px;
                  opacity: 1;
                  position: absolute;
                  transition: opacity 500ms ease-in-out 0s;
                  width: 100%;
                }
              }

              .asset-metadata {
                border-radius: 4px;
                bottom: 0px;
                position: absolute;
                text-align: center;
                transition: all 300ms ease-out 0s;
                width: 100%;
                background: transparent;
                padding: 8px 0px 12px;
                transform: translateY(100%);

                p.title {
                  padding-bottom: 6px;
                  color: #f9f9f9;
                  text-align: left;
                  margin: 0;

                  font-family: Avenir-World-for-Disney-Regular,sans-serif;
                  font-size: 15px;
                  letter-spacing: -.1px;
                  line-height: 1.6;
                }

                .metadata {
                  font-family: Avenir-World-for-Disney-Regular,sans-serif;
                  font-size: 12px;
                  letter-spacing: -.1px;
                  line-height: 1.5;

                  color: #cacaca;

                  text-align: left;
                }
              }
            }


          }
        }
      }
    }
  }
}