<form class="d-flex" role="search" (ngSubmit)="onSearchPerformed()">
  <select matTooltip="Selecciona una temporada" class="season-filter form-select me-2" name="temporada" [(ngModel)]="selectionTemporada"
          aria-label="Default select example" (change)="onSeasonChange($event)">
    <option selected value="">Season</option>
    <option *ngFor="let season of seasonList" [value]="season.code">{{season.name}}</option>
  </select>
  <select matTooltip="Personajes por episodio" class="episode-filter form-select me-2" name="episodio" [(ngModel)]="selectionEpisodio"
          aria-label="Default select example" (change)="onEpisodeChange($event)">
    <option selected value="">Episode</option>
    <option *ngFor="let episode of episodeList" [value]="episode.episode">{{episode.episode}}</option>
  </select>
  <input class="search-filter form-control me-2" spellcheck="false" type="search" 
      placeholder="Search" aria-label="Search" name="enteredSearchValue" [(ngModel)]="enteredSearchValue">
  <button class="search-button p-0" mat-mini-fab color="accent" type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>
