<ng-template #emptyContent>
  <div class="animated-transition" [@myAnimation]>
    <div class="empty-content">
      <div class="image-container">
        <img src="/assets/logo.png" alt="" class="logo">
      </div>
      <div class="data-container">
        <div class="title-info">
          <h1>Rick y Morty</h1>
          <p>Rick es un brillante científico un tanto borracho que secuestra a su irritable nieto adolescente Morty
            para vivir aventuras en otros mundos y en dimensiones alternativas.</p>
          <div class="info-item">
            <span class="label">Protagonistas:</span>
            <span class="text">Justin R Parnell,Spencer Grammer</span>
          </div>
          <div>
            <span class="label">Creado por:</span>
            <span class="text">Dan Harmon,Justin Roiland</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #dataContent>
  <div class="animated-transition" [@myAnimation]>
    <div class="entity-content d-flex h-100">
      <div class="image-container align-self-center">
        <img src="{{currentEntity!.image}}" alt="" class="entity-image">
      </div>
      <div class="data-container d-flex flex-column align-self-center">
        <h1>{{currentEntity!.name}}</h1>
        <div class="info-item">
          <span class="label">Specie: </span>
          <span class="text">{{currentEntity!.species}}</span>
        </div>
        <div class="info-item">
          <span class="label">Status: </span>
          <span class="text">{{currentEntity!.status}}</span>
        </div>
        <div class="info-item">
          <span class="label">Gender: </span>
          <span class="text">{{currentEntity!.gender}}</span>
        </div>
        <div class="info-item extra-data">
          <span class="label">Origin: </span>
          <span matTooltip="Personajes por origen" class="text">
            {{currentEntity!.origin!.name === 'unknown' ? currentEntity!.origin!.name : ''}}
            <a *ngIf="currentEntity!.origin!.name !== 'unknown'" (click)="onLocationClick(currentEntity!.origin!.url)">{{currentEntity!.origin!.name}}</a>
          </span>
        </div>
        <div class="info-item extra-data">
          <span class="label">Location: </span>
          <span matTooltip="Personajes por localidad" class="text">
            {{currentEntity!.location!.name === 'unknown' ? currentEntity!.location!.name : ''}}
            <a *ngIf="currentEntity!.location!.name !== 'unknown'" (click)="onLocationClick(currentEntity!.location!.url)">{{currentEntity!.location!.name}}</a>
          </span>
        </div>
        <div class="info-item extra-data">
          <span matTooltip="Episodios donde aparece" class="text">
            <a (click)="onEpisodiosClick()">Episodios</a>
          </span>
        </div>
      </div>
      <!-- <div class="close-button mat-elevation-z3"> -->
        <button class="close-button mat-elevation-z8" mat-mini-fab (click)="onCloseClick()">
          <mat-icon>close</mat-icon>
        </button>
      <!-- </div> -->
    </div>
  </div>
</ng-template>

<div class="character-container d-flex flex-row">
  <div class="wrap-container position-relative">
    <ng-container *ngTemplateOutlet="currentEntity !== null ? dataContent : emptyContent">
    </ng-container>
  </div>
</div>
